body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar-tag {
    background-color: #F1F3FF;
}

.nav-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.btn-register {
    background: #5CB85F;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    width: 81px;
    height: 36px;

    border: none;
    border-radius: 2px;
}

/* Hero Section */
.hero-container {
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}

.hero-tagline {
    margin-top: 118px;
}

.hero-tagline h1 {
    font-size: 35px;
    width: 100%;
}

.hero-tagline p {
    width: 90%;
    margin-top: 30px;
}

.btn-sewa {
    border: none;
    font-weight: 700;
    background: #5CB85F;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 2px;
}

.img-hero {
    margin-top: 100px;
    margin-bottom: 0px;
    width: 30%;
}

/* Service Section */
.img-model {

    margin-top: 50px;
    width: 80%;
}

.service-tagline {
    padding-top: 50px;
}

.service-tagline h1 {
    font-weight: 700;
}

.service-tagline ul {
    list-style: url("../images/img-li.png");
}

.service-tagline ul li {
    align-items: center;
}

/* Testimonial Section */
.section-testimonial {
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: -118px !important;
    margin-right: -118px !important;
}

.section-testimonial .testimonial-heading {
    margin-bottom: 40px;
}

.section-testimonial .card-testimonial {
    padding: 69px 32px;
    width: 619px;
    height: 270px;
    background: #f1f3ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px;
}

.section-testimonial .card-testimonial .author-img {
    width: 80px;
    height: 80px;
}

.section-testimonial .card-testimonial .rate-img {
    width: 80px;
    height: 16px;
    margin-bottom: 8px;
}

.section-testimonial .card-testimonial p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.section-testimonial .card-testimonial .author {
    font-weight: bold;
    margin-bottom: 0px;
}

/* CTA Banner */
.container-items {
    background-color: darkblue;
    border-radius: 10px;
}

.cta-tagline {
    color: #FFFFFF;
    width: 70%;
}

.cta-tagline p {
    padding-top: 15px;
    width: 80%;
}

/* FAQ Section */
.faq-tagline {
    width: 50%;
}

.faq-tagline h1 {
    font-weight: 700;
}

/* Footer Section */
.nav-tagline a {
    text-decoration: none;
    color: #000;
    margin: auto;
}

/* Mobile View */
@media (max-width: 576px) {

    /* Hero Section */
    .hero-container {
        margin-left: 5px;
        margin-top: 5px;
    }

    .img-hero {
        margin-left: 5px;
    }

    /* Why Section */
    .why-tagline {
        text-align: left;
    }

    /* Testimonial Section */
    .person-one-tagline {
        text-align: center;
        width: 60%;
        padding-top: 10px;
    }

    .img-testi {
        padding-left: 120px;
    }


}

/* Search Panel */
.search-panel {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: -50px !important;
    margin-bottom: 100px;
    padding: 15px 20px 15px 20px;
    background-color: white;
}

.search-panel button {
    margin-top: 30px;
    background: #5CB85F;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    width: 60%;

    border: none;
    border-radius: 2px;
}

.search-panel label {
    font-weight: 400;
    width: 100%;
    margin-bottom: 5px;
}